name: CI

on:
  push:
    branches:
      - '**'

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-20.04]
        python_version: ['3.8', '3.9', '3.10']

    steps:
      - uses: actions/checkout@v2

      - name: Install Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python_version }}

      - name: Cache pip
        uses: actions/cache@v3
        with:
          path: ~/.cache/pip # This path is specific to Ubuntu
          # Look to see if there is a cache hit for the corresponding requirements file
          key: ${{ runner.os }}-pip-${{ hashFiles('requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-pip-

      - name: Install pip requirements
        run: |
          pip install -e .[rllib]
          pip install --upgrade -e .[dev]

      - name: Run flake8
        run: flake8 mbag stubs tests
        if: ${{ always() }}

      - name: Run black
        run: black --check mbag stubs tests
        if: ${{ always() }}

      - name: Run isort
        run: isort --check --diff mbag stubs tests
        if: ${{ always() }}

      - name: Check types
        if: ${{ always() }}
        run: |
          # Shim for this issue: https://github.com/ray-project/ray/issues/14431
          touch `python -c 'import site; print(site.getsitepackages()[0])'`/ray/py.typed
          MYPYPATH=`pwd`/stubs mypy mbag tests

      - name: Run tests
        if: ${{ always() }}
        run: |
          pytest -m "not uses_rllib and not uses_malmo and not uses_cuda"